@import url('https://fonts.googleapis.com/css2?family=Average&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0C0935;
    font-family: 'Average', serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.text-white {
    color: #fff;
}

.nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    margin: 1rem auto;
    padding: 0 0.25rem;
}

.nav>.nav-header>.nav-title {
    font-size: 30px;
    color: #fff;
}

.nav>.nav-list {
    display: flex;
    gap: 2rem;
}

.nav>.nav-list>li {
    list-style-type: none;
}

.nav>.nav-list>li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
}

.nav>#nav-check {
    display: none;
}

.primary-btn {
    border-radius: 70px;
    background: #07CCE7;
    font-size: 1rem;
    color: #0D1440 !important;
    font-weight: 400;
    position: relative;
    border: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    align-self: flex-start;
    padding: 0.5rem 1rem;
}

.primary-btn-2 {
    border-radius: 70px;
    background: #07CCE7;
    font-size: 1rem;
    color: #0D1440 !important;
    font-weight: 400;
    position: relative;
    border: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    align-self: flex-start;
    padding:0.75rem 1.5rem; 
    margin-top: 0.5rem;
}

.search-container {
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    opacity: 0.2;
    padding: 0.5rem;
    display: flex;
    width: 100%;
    max-width: 200px;
}

.search-container-2 {
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    opacity: 0.2;
    padding: 0.5rem;
    display: flex;
    width: 40%;
    margin: 0 1rem;
}

input[type=text] {
    background: transparent;
    border: 0;
}

input[type=text]::placeholder {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.rainbow {
    left: 20%;
    position: absolute !important;
}

.eclipse-1 {
    overflow: hidden !important;
    width: 125px;
    height: 125px;
    z-index: -1;
    background: #07CCE7;
    opacity: 0.6;
    filter: blur(52px);
    border-radius: 70px;
    position: absolute !important;
    top: -40px;
    left: -10px;
}

.eclipse-2 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    top: 20%;
    z-index: -1;
    background: #03D0E7;
    opacity: 0.7;
    filter: blur(347px);
    position: absolute !important;
}

.eclipse-3 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    background: #B70CDA;
    opacity: 0.7;
    filter: blur(347px);
    top: 75%;
    z-index: -1;
    position: absolute !important;
}

.bitcoin-wrapper {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(127px);
    border-radius: 10px;
}

.custom-list {
    list-style-image: url('./img/list-style.png');
}

.custom-list li {
    margin: 1.5rem;
}

.section-3 {
    background: rgba(184, 12, 219, 0.1);
    backdrop-filter: blur(127px);
    padding: 2rem;
    margin: 2rem 0;
    position: relative;
}

.section-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.section-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.section-content-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.eclipse-4 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    z-index: -1;
    background: #D80D7A;
    opacity: 0.7;
    filter: blur(347px);
    top: -40%;
    left: -20%;
    position: absolute;
}

.card {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(127px);
    border-radius: 10px;
}

.eclipse-5 {
    overflow: hidden !important;
    background: #BE04DA;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    height: 335px;
    width: 335px;
    filter: blur(120px);
}

.eclipse-6 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    z-index: -1;
    background: #B70CDA;
    opacity: 0.7;
    filter: blur(347px);
    right: -50%;
    position: absolute;
}

.card-1 {
    background: url('./img/card-1-bg.png') center no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-weight: 400;
    padding: 2rem;
}

.card-2 {
    background: url('./img/card-2-bg.png') center no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-weight: 400;
    padding: 2rem;
    position: relative;
}

.card-header {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
}

.form-wrapper {
    background: url('./img/form-wrapper.png') center no-repeat;
    background-size: cover;
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

/* main banner section */
.banner-section {
    width: 100%;
    max-width: 1280px;
    display: flex;
    border-bottom: 1px solid #07CCE733;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    height: 100vh;
}

.banner-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.banner-content-wrapper div {
    position: relative;
    color: #fff;
}

.banner-content-wrapper div h1 {
    font-size: 5.5rem;
    font-weight: 400;
}

.btc-img {
    width: 100%;
}

.banner-content-wrapper div p {
    font-size: 1.5rem;
    margin: 3rem 0;
    font-weight: 400;
}

.section-2 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.company {
    display: flex;
    justify-content: center;
}

.company-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
    padding: 1rem;
}

.company-wrapper img {
    width: 100%;
}

.company-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.company-wrapper-2 img {
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.content-wrapper h1 {
    font-size: 2.25rem;
    margin: 1rem 0;
}

.content-wrapper p {
    font-size: 1.25rem;
    margin: 2rem 0;
}

/* section-3  */
.d-flex-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.d-flex-col h1 {
    font-size: 2.25rem;
}

.d-flex-col p {
    margin: 2rem 0;
}

.d-flex-row {
    display: flex;
    justify-content: center;
}

.d-flex-row img {
    width: 100%;
}

/* section-4 */
.section-4 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

.custom-line {
    border-radius: 10px;
    background-color: #07CCE7;
    height: 0.25rem;
    width: 4rem;
    margin: 1rem 0;
}

.custom-input {
    width: 100%;
    padding: 0.75rem 1.25rem;
}

.iheading {
    font-size: 2.25rem;
    text-align: center;
    margin: 4.5rem 0 2rem 0;
    font-weight: 400;
}

.ipara {
    text-align: center;
    margin: 2.5rem 0;
    font-weight: 300;
}

/* blog section */
#blog-section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    color: white;
}

.blog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-wrapper {
    display: flex;
    margin: 2rem 0;
    align-items: center;
}

.blog-heading h1 {
    font-weight: 400;
    font-size: 2rem;
}

.navigation-btn {
    width: 40px;
    height: 40px;
    background: rgba(2, 174, 255, 0.06);
    border: 1px solid #07CCE7;
    border-radius: 50%;
    text-align: center;
    margin: 0 1rem;
    color: #fff;
    cursor: pointer;
}

.blog-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.blog {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(127px);
    border-radius: 10px;
    padding: 1rem;
}

.blog img {
    width: 100%;
}

.switch-wrapper {
    display: flex;
    margin: 2rem 1rem;
}

.active-btn {
    width: 7px;
    height: 7px;
    background: #D9D9D9;
    border-radius: 50%;
    margin: 0 0.25rem;
    border: 0;
    cursor: pointer;
}

.inactive-btn {
    width: 7px;
    height: 7px;
    background: #D9D9D9;
    opacity: 0.2;
    border-radius: 50%;
    margin: 0 0.25rem;
    border: 0;
    cursor: pointer;
}

/* footer */
#footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 1rem;
    color: #fff;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

#footer>h1 {
    font-size: 2.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#footer p {
    font-size: 0.75rem;
}

.footer-list {
    list-style: none;
}

.footer-list ul {
    list-style: none;
}

.footer-list>li {
    font-size: 1.25rem;
}

.footer-links li a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.footer-links li {
    margin: 1.5rem 0;
}

.tnc-wrapper {
    border-top: 1px solid #FFFF001A;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.tnc-wrapper a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
}

.link-wrapper {
    display: flex;
    justify-content: center;
}

.eclipse-7 {
    position: absolute;
    width: 640px;
    height: 640px;
    left: 20%;
    z-index: -1;
    background: #B70CDA;
    opacity: 0.5;
    filter: blur(347px);
}