@import url('https://fonts.googleapis.com/css2?family=Average&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C0935;
    font-family: 'Average', serif;
}

.text-white{
    color: #fff;
}
.nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Inter' , sans-serif;
    justify-content: space-between;
    align-items: center;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    margin: 1rem auto;
    padding: 0 0.25rem;
}

.nav>.nav-header>.nav-title {
    font-size: 30px;
    color: #fff;
}

.nav>.nav-list {
    display: flex;
    gap: 2rem;
}

.nav>.nav-list>li {
    list-style-type: none;
}

.nav>.nav-list>li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
}

.nav>#nav-check {
    display: none;
}
.primary-btn{
    border-radius: 70px;
    background: #07CCE7;
    font-size: 1rem;
    color:#0D1440 !important;
    padding: 0.5rem 1rem ;
    font-weight: 400;
    position: relative;
    border: 0;
    text-decoration: none;
    font-family: 'Inter' ,sans-serif;
    align-self: flex-start;
}

.search-container {
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    opacity: 0.2;
    padding: 0.5rem 1rem;
}

input[type=text] {
    background: transparent;
    border: 0;
}

input[type=text]::placeholder {
    color: #fff;
    font-family: 'Inter' , sans-serif;
}

button[type=submit] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button[type=submit] i {
    font-size: 18px;
    color: #ccc;
}

button[type=submit]:hover i {
    color: #fff;
}

.rainbow {
    left: 20%;
    position: absolute !important;
}

.eclipse-1 {
    overflow: hidden !important;
    width: 129px;
    height: 65px;
    z-index: -1;
    background: #07CCE7;
    opacity: 0.6;
    filter: blur(52px);
    border-radius: 70px;
    position: absolute !important;
}

.eclipse-2 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    top: 20%;
    z-index: -1;
    background: #03D0E7;
    opacity: 0.7;
    filter: blur(347px);
    position: absolute !important;
}

.eclipse-3 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    background: #B70CDA;
    opacity: 0.7;
    filter: blur(347px);
    top: 75%;
    z-index: -1;
    position: absolute !important;
}

.bitcoin-wrapper {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(127px);
    border-radius: 10px;
}

.custom-list {
    list-style-image: url('./img/list-style.png');
}

.custom-list li {
    margin: 1.5rem;
}

.section-3 {
    background: rgba(184, 12, 219, 0.1);
    backdrop-filter: blur(127px);
    padding: 2rem ;
    margin: 2rem 0;
    position: relative;
}

.section-3-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.section-3-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.eclipse-4 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    z-index: -1;
    background: #D80D7A;
    opacity: 0.7;
    filter: blur(347px);
    top: -40%;
    left: -20%;
    position: absolute;
}

.card {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(127px);
    border-radius: 10px;
}

.eclipse-5 {
    overflow: hidden !important;
    background: #BE04DA;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    height: 335px;
    width: 335px;
    filter: blur(120px);
}

.eclipse-6 {
    overflow: hidden !important;
    width: 640px;
    height: 640px;
    z-index: -1;
    background: #B70CDA;
    opacity: 0.7;
    filter: blur(347px);
    right: -50%;
}

.card-1{
    background: url('./img/card-1-bg.png') center no-repeat;
    background-size: cover;
}
.card-2{
    background: url('./img/card-2-bg.png') center no-repeat;
    background-size: cover;
}

.form-wrapper{
    background: url('./img/form-wrapper.png') center no-repeat;
    background-size: cover;
}

/* main banner section */
.banner-section{
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    border-bottom: 1px solid #07CCE733 ;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.banner-content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.banner-content-wrapper div {
    position: relative;
    color: #fff;
}

.banner-content-wrapper div h1 {
    font-size: 5.5rem;
    font-weight: 400;
}

.btc-img{
    width: 100%;
}

.banner-content-wrapper div p {
    font-size: 1.5rem;
    margin: 3rem 0;
    font-weight: 400;
}

.section-2{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.company{
    display: flex;
    justify-content: center;
}

.company-wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

.company-wrapper-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.company-wrapper-2 img{
    width: 100%;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.content-wrapper h1{
    font-size: 2.25rem;
    margin: 1rem 0 ;
}

.content-wrapper p{
    font-size: 1.25rem;
    margin: 2rem 0 ;
}

/* section-3  */
.d-flex-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.d-flex-col h1{
    font-size: 2.25rem;
}

.d-flex-col p{
    margin: 2rem 0;
}

.d-flex-row{
    display: flex;
    justify-content: center;
}